langchain
langchain_community
langchain_core
langchain-groq
langchain_chroma
langchain_huggingface
chromadb
streamlit
python-dotenv
pypdf
sentence-transformers
arxiv
wikipedia
duckduckgo-search
ipykernel
faiss-cpu
langgraph
pydantic